<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="mycontainer">

    <div th:replace="fragments/header :: header"/>

    <div class="container">

        <h1><span th:text="${artistName}"></span></h1>
        <br/>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img th:src="${artistImageUrl}"/>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-8">
                <h4>Description</h4>
                <p><span th:utext="${artistDescription}"></span></p>
                <br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>Songs by this artist</h3></li>
                    <div class="card" th:each="song : ${listOfSongs}" th:if="listOfSongs != null">
                        <li class="list-group-item "><a th:href="'/song/' + ${song.getMbId()}"><span th:text="${song.getName()}"></span></a></li>
                    </div>
                </ul>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-5">

                        <br>
                        <h3>Reviews</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /.container -->
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>