<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="mycontainer">

    <div th:replace="fragments/header :: header"/>

    <div class="container">


        <br/>
        <div class="row">
            <div class="col-8">
                <h1><span th:text="${profile.getFirstName()}+' '+${profile.getLastName()}"></span></h1>

                <div class="col-12 mx-auto" sec:authorize="isAuthenticated()"
                     th:if="${mxuser.getRole().getName()} != 'ARTIST' and  ${profile.getUsername()}!=${#authentication.name}">
                    <form action="/profile/followunfollow" method="POST">
                        <input type="hidden" name="followperson" th:value="${profile.getUsername()}">
                        <div th:if="${alreadyfollowed} == true">
                            <button type="submit" class="btn btn-outline-primary">Unfollow</button>
                        </div>
                        <div th:if="${alreadyfollowed} != true">
                            <button type="submit" class="btn btn-outline-primary">follow</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 mx-auto" sec:authorize="isAuthenticated()" th:if="${profile.getUsername()}==${#authentication.name}">

                    <a href="./edit" class="btn btn-outline-primary">Edit</a>
                </div>


            </div>
            <div class="col-4">
                <img title="profile image" class="img-circle img-responsive"
                     th:src="'https://www.gravatar.com/avatar/'+${profile.getEmailHash()}+'?s=128&d=robohash'"
                     style="border-radius: 50%">
            </div>

        </div>
    </div>

    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-4">
                <h5>Following </h5>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Name</td>
                        <td>Username</td>
                    </tr>
                    <tr th:each="followperson : ${profile.getFollowing()}">
                        <th scope="row"><a th:href="'/profile/'+${followperson.getUsername()}+'/view'"><img th:src="'https://www.gravatar.com/avatar/'+${followperson.getEmailHash()}+'?s=16&d=robohash'" ></a></th>
                        <td><a th:href="'/profile/'+${followperson.getUsername()}+'/view'" th:text="${followperson.getFirstName()}+' '+${followperson.getLastName()}"></a></td>
                        <td><a th:href="'/profile/'+${followperson.getUsername()}+'/view'" th:text="${followperson.getUsername()}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-4">
                <h5>Following Actors</h5>

            </div>

            <div class="col-4">
                <h5>Followed By</h5>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Name</td>
                        <td>Username</td>
                    </tr>
                    <tr th:each="followperson : ${profile.getFollowedBy()}">
                        <th scope="row"><a th:href="'/profile/'+${followperson.getUsername()}+'/view'"><img th:src="'https://www.gravatar.com/avatar/'+${followperson.getEmailHash()}+'?s=16&d=robohash'" ></a></th>
                        <td><a th:href="'/profile/'+${followperson.getUsername()}+'/view'" th:text="${followperson.getFirstName()}+' '+${followperson.getLastName()}"></a></td>
                        <td><a th:href="'/profile/'+${followperson.getUsername()}+'/view'" th:text="${followperson.getUsername()}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-4">
                <h5>Songs Reviewed</h5>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Song</td>
                        <td>Rating Given</td>
                    </tr>
                    <tr th:each="review : ${profile.getReviews()}">
                        <th scope="row"><a th:href="'/song/'+${review.getSong().getMbId()}"><img th:src="${review.getSong().getImageUrl()}" style="max-width: 16px; max-height: 16px;"></a></th>
                        <td><a th:href="'/song/'+${review.getSong().getMbId()}" th:text="${review.getSong().getName()}"></a></td>
                        <td><a th:href="'/song/'+${review.getSong().getMbId()}" th:text="${review.getRating()}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>