<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="mycontainer">

    <div th:replace="fragments/header :: header"/>
                <h4>userid</h4>
                <p><span sec:authentication="principal.authorities"></span></p>
    <span th: th:text="person.getName()"></span>

</div>
    <!-- /.container -->
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>