<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="mycontainer">

    <div th:replace="fragments/header :: header"/>

    <div class="container">

        <h1><span th:text="${songName}"></span></h1>
        <br/>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img th:src="${songImageUrl}"/>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h4>Description</h4>
                <p><span th:utext="${songDescription}"></span></p>
                <br>
                <h4>Artist</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>Artist</h3></li>
                    <div class="card" th:each="artistData : ${listOfArtists}" th:if="listOfArtists != null">
                        <li class="list-group-item "><span th:text="${artistData.getName()}"></span></li>
                    </div>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Reviews</h3>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>